<%- include('../includes/header.ejs', {titulo : 'Adicionar categoria nova '}) %>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<main>
    <h2>Adicionando uma nova categoria </h2>
    <form action="/categorias/novo" class="form" method="post">
        <div class="form-group">
            <label for="nome_categorias">Nome da Categoria:</label>
            <input type="text" id="id_categoria" name="nome_categorias" required>
        </div>
        </div>
        <button type="submit" class="btn btn-success"> Adicionar</button>
        <a href="/categorias" class="btn btn-secondery">Cancelar</a>

    </form>
</main>





<%- include('../includes/footer.ejs') %>