<%- include('../includes/header.ejs', {titulo : 'Green Agro'}) %>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<main>
    <h2>Adicionando um novo usuario</h2>
    <form action="/usuarios/novo" method="POST" class="form"> 
        <div class="form-group">
            <label for="nome">Nome do usuario:</label>
            <input type="text" id="nome" name="nome_usuario" required> 
        </div>
        
        <div class="form-group">
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario" required> 
        </div>
        <div class="form-group">
            <label for="senha">senha:</label>
            <input type="text" id="senha" name="senha" required> 
        </div>
        <div class="form-group foto">
            <label for="foto">foto</label>
            <input type="text" id="foto" name="foto" required>
        </div>
        
        <button type="submit" class="btn btn-success">Adicionar </button>
        <a href="/usuarios" class="btn btn-secondary">Cancelar</a>

        

        
    </form>

</main>


<%- include('../includes/footer.ejs') %>